<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One punch man comics reader</title>
    <style>
      body {
        background: #efefef;
      }
      .landing {
        text-align: center;
        padding: 5rem 2rem;
      }
      .title {
        font-size: 3rem;
        margin-bottom: 2rem;
        color: #181c14;
      }

      .start-btn {
        height: 40px;
        font-size: 18px;
        text-transform: uppercase;
        border: none;
        background-color: #3c3d37;
        color: white;
        padding: 0 20px;
      }
    </style>
  </head>
  <body>
    <div class="landing">
      <h3 class="title">One punch man comics reader</h3>
      <a href="/page/1">
        <button class="start-btn">start reading here</button>
      </a>
    </div>
  </body>
</html>
